/* Estilos globales */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
  text-align: center;
}

/* Estilos para las tarjetas */
.movie-list {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  gap: 16px;
  color: gray;
}

.movie-list p {
  font-size: 1.5em;
}

.search-container {
  width: 85%;
  height: 400px;
  margin: 1em auto;
  border-radius: 2em;
  background-image: url("./assets/biblioteca1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: relative; 
  overflow: hidden;
}

.search-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 2em;
  z-index: 1; 
}

.search-container p{
  font-size: 1.5em;
}
.search-container * {
  position: relative;
  z-index: 2; 
}


.search-container h1, .search-container p{
  padding: 0;
  margin: 0;
}

.search-container input {
  width: 100%;
  max-width: 50em;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

.handleClick-buttons>button {
  margin: 1em;
}

.input-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #92db64;
  outline: none;
  box-shadow: 0 2px 4px rgba(100, 108, 366, 0.5);
}

.boton-buscar {
  position: absolute;
  right: 1px;
  padding: 5px 12px;
  background-color: #A4F573;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  z-index: 3;
  transition: background-color 0.4s ease, transform 0.3s ease-in-out;
}

.boton-buscar:hover {
  background-color: #92db64;
  transform: scale(0.9);
}

/* Categorias  */
.handleClick-buttons {
  width: 85%;
  margin: auto;
  color: #66B53D;
}

.handleClick-buttons h1 {
  text-align: left;
  margin-bottom: 10px;

}

.buttons {
  background: #b9f57c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding: .5em;
  border-radius: 15px;
}

.buttons button {
  width: 30%;
  font-size: 1.2em;
  border: none;
  border-radius: 50px;
  margin: 5px;
  padding: 3px;
  background-color: #92db64;
  color: #000;
  transition: transform 0.1s ease;
}

.buttons button:active {
  background-color: #92db64;
  transform: scale(.9);
}

.buttons button:hover {
  box-shadow: 0 2px 4px rgba(0, 100, 0, 0.5);
}